In [3]:
import pandas as pd

In [4]:
print(pd.__version__)

0.23.4

In [5]:
print(pd.show_versions(as_json=True))

{'system': {'commit': None, 'python': '3.6.6.final.0', 'python-bits': 64, 'OS': 'Linux', 'OS-release': '4.15.0-33-generic', 'machine': 'x86_64', 'processor': 'x86_64', 'byteorder': 'little', 'LC_ALL': 'None', 'LANG': 'en_US.UTF-8', 'LOCALE': 'en_US.UTF-8'}, 'dependencies': {'pandas': '0.23.4', 'pytest': None, 'pip': '18.0', 'setuptools': '39.0.1', 'Cython': None, 'numpy': '1.15.1', 'scipy': None, 'pyarrow': None, 'xarray': None, 'IPython': '6.5.0', 'sphinx': None, 'patsy': None, 'dateutil': '2.7.3', 'pytz': '2018.3', 'blosc': None, 'bottleneck': None, 'tables': None, 'numexpr': None, 'feather': None, 'matplotlib': None, 'openpyxl': None, 'xlrd': None, 'xlwt': None, 'xlsxwriter': '0.9.6', 'lxml': None, 'bs4': '4.6.0', 'html5lib': '0.999999999', 'sqlalchemy': None, 'pymysql': None, 'psycopg2': None, 'jinja2': '2.10', 's3fs': None, 'fastparquet': None, 'pandas_gbq': None, 'pandas_datareader': None}}
None

In [6]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [7]:
# Solution
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [8]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [9]:
mydict

{'a': 0,
 'b': 1,
 'c': 2,
 'e': 3,
 'd': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [10]:
ser

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [11]:
# Solution
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [12]:
## MarkDown

## 4. How to combine many series to form a dataframe ?

In [13]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [14]:
ser

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [15]:
ser1

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [16]:
ser2

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [17]:
# Solution 1
df = pd.concat([ser1, ser2], axis=1)

# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

## 5. How to assign name to the series' index?

In [18]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [20]:
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [21]:
# Solution
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

##6. How to get the items of series A not present in series B?

## 6. How to get the items of series A not present in series B?

In [22]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [23]:
# Solution
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

## 7. How to get the items not common to both series A and series B?

In [24]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [25]:
# Solution
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

## 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [26]:
ser = pd.Series(np.random.normal(10, 5, 25))

In [28]:
ser.describe()

count    25.000000
mean     10.645107
std       4.529261
min       0.684948
25%       7.742701
50%      11.493654
75%      13.967663
max      18.479182
dtype: float64

## 9. How to get frequency counts of unique items of a series?

In [29]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [30]:
ser

0     c
1     g
2     c
3     f
4     b
5     g
6     h
7     b
8     e
9     b
10    d
11    g
12    e
13    h
14    a
15    h
16    f
17    d
18    e
19    h
20    d
21    e
22    e
23    g
24    e
25    g
26    c
27    g
28    a
29    f
dtype: object

In [32]:
ser.value_counts()

e    6
g    6
h    4
c    3
f    3
b    3
d    3
a    2
dtype: int64

## 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [33]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [34]:
ser

0     2
1     3
2     4
3     4
4     1
5     2
6     2
7     3
8     1
9     2
10    2
11    2
dtype: int64

In [35]:
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'

In [36]:
ser

0         2
1     Other
2         4
3         4
4     Other
5         2
6         2
7     Other
8     Other
9         2
10        2
11        2
dtype: object